extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisi, at scelerisque nisi. Mauris sapien orci, ultricies volutpat viverra ac, congue dapibus quam. Vivamus pulvinar mi eget ipsum volutpat placerat. Suspendisse efficitur augue nec malesuada tempus.

                p Aenean feugiat auctor dui, ac dignissim dui hendrerit a. Etiam erat ligula, semper a volutpat sit amet, pellentesque id velit. Nam eget suscipit augue. Vivamus quis lacus eget felis tincidunt egestas. Nullam efficitur sem et quam ultricies varius. Quisque ut velit ultricies, pretium erat vel, eleifend turpis.

                p Nunc vitae pellentesque arcu. Donec vitae lobortis purus. Nunc id dui convallis, ornare orci eget, ullamcorper nibh. Suspendisse sit amet diam tincidunt, placerat lorem vel, porta lectus. Phasellus sollicitudin massa non sem tincidunt, at volutpat nibh hendrerit.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisi, at scelerisque nisi.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisi, at scelerisque nisi.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a suscipit nisi, at scelerisque nisi.